@model flightbooking_project.Models.AirplaneInfo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin_Layout1.cshtml";
}
<div class="content-wrapper">
    <h2>حذف</h2>

    <h3>آیا از حذف این  آیتم اطمینان دارید؟</h3>
    <div>
        <h4>هواپیماها</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AirplaneName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AirplaneName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SeatingCapacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SeatingCapacity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="حذف" class="btn btn-default" /> |
                @Html.ActionLink("بازگشت به لیست", "Index")
            </div>
        }
    </div>
    </div>
