@model IEnumerable<flightbooking_project.Models.TicketReservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.plane_tbls.AirplaneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResDepDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.planeSeat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResTicketPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResPlaneType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.plane_tbls.AirplaneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResDepDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.planeSeat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResTicketPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResPlaneType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResId })
        </td>
    </tr>
}

</table>
